.success-container {

    height: 300px;
    width: 30%;
    margin: auto;
    border-radius: 22px;
    background: red;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.success-container button {
    background-color: white;
    font-size: 24px;
}

.success-container p {
    font-size: 20px;
    margin-bottom: auto;
}